/*
Adding styles:
1. Positioning --> static, absolute, relative, fixed.
2. Box model --> margin, border, padding, content.
3. Typography --> tipos, tamaños de fuente, etc.
4. Visual styles --> box-shadow, border-radius, gradient, etc.
5. Miscellaneous --> CSS rules & more.
*/
/* Initial Setup */
/* Names of the color given by color picker app (Sip) */
:root {
  --tiffany-blue: hsl(172, 67%, 45%);
  --sherpa-blue: hsl(183, 100%, 15%);
  --breaker-bay: hsl(186, 14%, 43%);
  --sea-nymph: hsl(184, 14%, 56%);
  --onahau: hsl(185, 41%, 84%);
  --black-squeeze: hsl(189, 41%, 97%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  min-width: 375px;
  scroll-behavior: smooth;
  background-color: var(--onahau);
}
body {
  font-size: 1.6rem;
  font-weight: 500;
  font-family: "Space Mono", monospace;
  color: var(--breaker-bay);
}
/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  width: 100%;
}
header img {
  width: 25rem;
}
main,
.accordionWrapper {
  padding: 3rem 1rem 2rem;
  border-radius: 3rem;
  background: white;
  float: left;
  width: 100%;
}
main .accordionItem {
  float: left;
  display: block;
  width: 100%;
}
main .accordionItem-heading:hover,
.accordionItem-heading:active {
  background-color: var(--tiffany-blue);
  color: var(--sherpa-blue);
}
main .accordionItem-heading {
  cursor: pointer;
  padding: 1.8rem;
  background-color: var(--sherpa-blue);
  color: white;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* main .close + .accordionItem-heading {
 I want something to change the icon from expanded to contracted.
} */
main .close .accordionItem-content {
  height: 0px;
  transition: height 0.5s ease-out;
  transform: scaleY(0);
  float: left;
  display: block;
}
main .open .accordionItem-content {
  padding: 1rem;
  width: 100%;
  /* margin: 0px 0px 10px 0px; */
  display: flexbox;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.4s ease;
  box-sizing: border-box;
  background-color: var(--onahau);
  border-radius: 1rem;
  margin: 1rem 0;
}
main .accordionItem-content > h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
main .accordionItem-content > h3 > span {
  padding-right: 0.5rem;
}
main h3,
h4 {
  color: var(--sherpa-blue);
}
main .accordionItem button {
  cursor: pointer;
  padding: 1.5rem;
  border: none;
  background-color: var(--breaker-bay);
  color: white;
  font-family: "Space Mono", monospace;
  font-size: 1.6rem;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}
main .accordionItem-content button:hover {
  background-color: var(--tiffany-blue);
  color: var(--sherpa-blue);
}
main .welcome-h1 {
  text-align: center;
}
main .welcome-p {
  padding-left: 2vw;
  padding-bottom: 2vh;
}
main .main-input {
  display: flex;
}
main .main-input-container {
  margin: 1rem 0;
  width: 100%;
  border-radius: 1rem;
  background-color: var(--black-squeeze);
  display: flex;
  justify-content: center;
  align-items: center;
}
main .main-input-container input {
  width: 65%;
}
main .main-input-container select {
  width: 20%;
}
main .main-input-container input,
select {
  height: 4rem;
  border: none;
  outline: none;
  text-align: right;
  background-color: var(--black-squeeze);
  color: var(--sherpa-blue);
  font-size: 2.4rem;
  font-family: "Space Mono", monospace;
}
main .main-input-container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

/* Footer */
footer {
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  height: 5vh;
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
}
footer a {
  color: var(--sherpa-blue);
}
